#img-bg{
background-image: url(https://i.pinimg.com/originals/27/ef/c7/27efc7003a7d0c1424dfb799a9504d96.jpg);
min-height: 695px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}